@import '../../assets/styles/global';

.ProductsCarousel {
  margin-bottom: 6rem;

  &-main {
    &-item {
      width: 50%;
      border-left: .4rem solid $white;
      border-right: .4rem solid $white;

      &:first-child,
      &:last-child {
        border: none;
        flex: 0 0 calc(100% / 4);
        max-width: calc(100% / 4);
      }

      @media (max-width: 1024px) {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        width: 100%;
        border: none !important
      }

      .ProductBox {
        height: 100%;
      }
    }
  }

  &-carousel {
    &-item {
      height: 100%;

      &-image,
      &-info {
        flex: 0 0 50%;
        max-width: 50%;

        @media (max-width: 575px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }

      &-image {
        display: flex;
        height: 43rem;

        @media (max-width: 575px) {
          height: auto;
        }

        img {
          margin: auto;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &-info {
        padding: 4rem 2rem;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &-title,
        &-subtitle,
        &-description,
        &-price {
          text-align: center;
        }

        &-title {
          text-transform: uppercase;
          font-size: 2.8rem;
          margin-bottom: 2rem;
          font-weight: 500;
          line-height: 1.3;
        }

        &-subtitle {
          font-weight: 600;
          font-size: 1.6rem;
          font-style: italic;
          margin-bottom: 2rem;
        }

        &-description {
          color: $boulder;
          font-size: 1.6rem;
          font-style: italic;
          margin-bottom: 1.5rem;
          font-weight: lighter;
          @include ellipsis(3);
          height: 8rem;

          @media (max-width: 991px) {
            height: 6rem;
          }

          * {
            font-size: 1.6rem !important;
          }
        }

        &-price {
          font-size: 2.8rem;
          font-weight: lighter;
          margin-bottom: 3rem;
        }

        &-cta {
          @include style-skew-btn();
          width: fit-content;
          padding: 0.7rem 2.5rem;
        }
      }
    }
  }
}