@import '../../assets/styles/global';

.ProductBox {
  padding: 3rem 2rem;
  cursor: pointer;
  background: $white;
  position: relative;

  &.background {
    background: url('../../assets/images/bg-card-product.png');
    background-size: cover;
    background-position: center;

    .ProductBox {
      &-info {

        &-title {
          color: $white;
        }

        &-price {
          &-current,
          &-old {
            color: $white;
          }
        }

        &-cta {
          color: $black;
          background: $white;

          &::before,
          &::after {
            background: $white;
          }
        }
      }
    }
  }

  &-badge {
    width: 5rem;
    height: 5rem;
    background: url('../../assets/images/bg-badge.png');
    background-size: cover;
    background-position: center;
    transform: rotate(-20deg);
    font-size: 1.6rem;
    color: $white;
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &-image {
    flex: 0 0 16rem;
    max-width: 16rem;
    height: 16rem;
    overflow: hidden;
    display: flex;
    margin: 0 auto 5rem;

    img {
      width: 100%;
      height: 100%;
      margin: auto;
      object-fit: cover;
      object-position: center;
    }
  }

  &-heart {
    position: absolute;
    top: 3rem;
    right: 2rem;
    width: 3rem;

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &-info {
    &-title {
      font-size: 2.4rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 1rem;
      text-transform: uppercase;
      line-height: 1.3;
      height: 5.8rem;
      @include ellipsis(2);
    }

    &-price {
      margin: 0 auto 3.5rem;

      @media (max-width: 575px) {
        min-height: 5rem;
        flex-direction: column-reverse;
        align-items: center !important;
      }

      &-current {
        font-size: 1.6rem;
        color: $red;
        font-weight: 600;
        margin: 0 1rem;
        white-space: nowrap;
      }

      &-old {
        text-decoration: line-through;
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0 1rem;
        white-space: nowrap;
      }
    }

    &-cta {
      @include style-skew-btn();
      max-width: 15rem;

      &.loading {
        cursor: not-allowed;
        opacity: 0.7;
      }
    }
  }
}