@import '../../assets/styles/global';

.Amount {
  user-select: none;

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &-minus,
  &-plus {
    flex: 0 0 2.4rem;
    max-width: 2.4rem;
    height: 2.4rem;
    border: 1px solid $black;
    background: $black;
    cursor: pointer;
    display: flex;
    border-radius: 1rem;
    transition: $common-transition;

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }

    .Icon {
      margin: auto;
    }
  }

  span {
    font-size: 1.6rem;
    font-weight: 600;
    color: $black;
    display: block;
    text-align: center;
    margin: 0 2.8rem;
  }
}