@import '../../assets/styles/global';

.Cart {
  &-main {
    margin-bottom: 3rem;

    &-header {
      margin-bottom: 2.5rem;

      .Button {
        flex: 0 0 calc(100% / 5 - .75rem);
        max-width: calc(100% / 5 - .75rem);

        @media (max-width: 575px) {
          flex: auto;
          max-width: unset;
          margin: 0 1rem 1rem 0;
        }

        &:hover,
        &.active {
          .ant-btn {
            border-color: $electric-violet;
          }
        }

        .ant-btn {
          border-radius: 1rem;
        }
      }
    }

    &-body {
      position: relative;
      min-height: 40rem;

      .PageLoading {
        height: 100%;
      }
    }
  }

  &-card {
    background: $white;
    border-radius: 1rem;
    border: 1px solid $iron;
    padding: 1rem 0;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &-text {
      font-size: 1.6rem;
      font-weight: 500;
      padding: 0rem 1.6rem;
      line-height: 1.8;

      &.bold {
        font-weight: 700;
      }

      &.hightlight {
        color: $electric-violet;
        font-weight: 700;
      }

      &.success {
        color: $japanese-laurel;
      }

      &.warning {
        color: $buddha-gold;
      }

      &.error {
        color: $red;
      }

      &.disabled {
        color: $boulder;
      }
    }

    &-footer {
      border-top: 1px solid $iron;
      padding-top: 1rem;
      margin-top: 1rem;
    }
  }
}