@import '../../assets/styles/global';

.Select {

  .ant-select-focused .ant-select-selector {
    border-color: $electric-violet !important;
  }

  .ant-select-single .ant-select-selector .ant-select-selection-item,
  .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 1.9;
  }

  .ant-select {
    &:not(.ant-select-disabled) {
      .ant-select-selector {
        &:hover {
          border-color: $electric-violet;
        }
      }
    }

    .ant-select-selection-search-input {
      height: 100% !important;

    }

    .ant-select-selection-placeholder {
      color: $boulder !important;
      display: flex;
      align-items: center;
    }


    .ant-select-selector {
      font-size: 1.6rem;
      padding: 1rem 1.8rem;
      background: $athens-gray;
      border-color: $silver;
      border-radius: 1rem;
      height: 5.2rem;

      .ant-select-selection-search {
        left: 1.8rem;
      }

      &::placeholder {
        color: $boulder;
      }
    }

    .ant-select-clear {
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $athens-gray;
      margin-top: -.8rem;
    }
  }
}