@import '../../assets/styles/global';

.Wheels {
  &-main {
    &-item {
      margin-bottom: 3rem;
      flex: 0 0 calc(100% / 2 - 1.5rem);
      max-width: calc(100% / 2 - 1.5rem);

      @media (max-width: 575px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}