@import '../../../assets/styles/global';

.RankPointsHistory {
  position: relative;
  min-height: 40rem;

  .PageLoading {
    height: 100%;
  }

  &-item {
    padding: 2rem 0;
    border-bottom: 1px solid $iron;

    &:first-child {
      border-top: 1px solid $iron;
    }
  }
  &-text {
    font-size: 1.6rem;
    line-height: 2;

    &.bold {
      font-weight: 600;
    }

    &.error {
      font-weight: 500;
      color: $red;
    }

    &.success {
      font-weight: 500;
      color: $japanese-laurel;
    }
  }

  &-pagination {
    margin-top: 3rem;
  }
}