.FavoriteProduct {
  &-main {
    margin-bottom: 3rem;

    &-item {
      flex: 0 0 calc(100% / 4 - 1rem);
      max-width: calc(100% / 4 - 1rem);
      margin-bottom: 2rem;

      @media (max-width: 1200px) {
        flex: 0 0 calc(100% / 2 - 1rem);
        max-width: calc(100% / 2 - 1rem);
      }
    }
  }
}