@import './assets/styles/global';

.App {
  &.mobile {
    .App {
      &-sidebar {
        max-width: 34rem;
        top: 0;
      }

      &-body {
        margin-left: 0 !important;
        width: 100% !important;
      }
    }
  }

  &.hide {
    .Sidebar {
      @media (max-width: 991px) {
        width: 0;
      }

      &-item {
        &:nth-child(2) {
          pointer-events: none;
          transform: translateX(-100%);
        }
      }

      &-overlay {
        pointer-events: none;
        opacity: 0;
      }
    }

    .App {
      &-sidebar {
        width: 7rem;
        @media (max-width: 991px) {
          width: 0;
        }
      }

      &-body {
        margin-left: 7rem;
        width: calc(100% - 7rem);
      }
    }
  }

  &-header {
    padding-top: 8rem;
  }

  &-sidebar {
    position: fixed;
    width: 37.5rem;
    height: 100vh;
    overflow: hidden auto;
    z-index: 9;
    transition: $common-transition;
  }

  &-body {
    position: relative;
    width: calc(100% - 37.5rem);
    margin-left: 37.5rem;
    min-height: 100vh;
    background: $alabaster;
    transition: $common-transition;
  }
}