@import './assets/styles/global';

.App {
  $width-sidebar: 39rem;

  &.mobile {
    .App {
      &-sidebar {
        max-width: 34rem;
        top: 0;
      }

      &-body {
        margin-left: 0 !important;
        width: 100% !important;
      }
    }
  }

  &.hide {
    .Sidebar {
      @media (max-width: 991px) {
        width: 0;
      }

      &-item {
        &:nth-child(2) {
          pointer-events: none;
          transform: translateX(-100%);
          opacity: 0;
        }
      }

      &-overlay {
        pointer-events: none;
        opacity: 0;
      }
    }

    .App {
      &-sidebar {
        width: 7rem;
        @media (max-width: 991px) {
          width: 0;
        }
      }

      &-body {
        margin-left: 7rem;
        width: calc(100% - 7rem);
      }
    }
  }

  &-header {
    padding-top: 8rem;
  }

  &-sidebar {
    position: fixed;
    width: $width-sidebar;
    z-index: 2147483647;
    background: $white;
    transition: $common-transition;
  }

  &-body {
    position: relative;
    width: calc(100% - #{$width-sidebar});
    margin-left: $width-sidebar;
    min-height: 100vh;
    background: $alabaster;
    transition: $common-transition;
  }
}