/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;
$alabaster: #F8F8F8;

$electric-violet: #6338FA;
$international-klein-blue: #021EAE;
$athens-gray: #F3F4F8;
$silver: #C4C4C4;
$boulder: #777777;
$gallery: #EFEFEF;
$scarpa-flow: #535256;
$big-stone: #172948;
$iron: #D8D9DB;
$red: #f00;
$buddha-gold: #D79D00;
$japanese-laurel: #2A9400;
$alto: #d9d9d9;