@import '../../assets/styles/global';

.Sidebar {
  height: 100%;

  &-item {
    height: 100%;
    background: $white;
    transition: $common-transition;

    &:nth-child(1) {
      padding: 1rem 1.5rem;
      position: relative;
      z-index: 3;

      &.mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        height: auto;
        width: 100%;
        padding: 0;
        box-shadow: $button-shadow;

        .Sidebar {
          &-item {
            &-icon,
            &-favicon {
              flex: 0 0 calc(100% / 5);
              max-width: calc(100% / 5);
              margin: 0;
              display: flex;
              text-align: center;
              justify-content: center;
              padding: 2rem;
              transition: $common-transition;

              img, svg {
                transition: $common-transition;
                max-width: 3rem;
                margin: auto;
                pointer-events: none;
              }
            }

            &-icon {
              &:nth-of-type(1) {
                order: 1;
              }
              &:nth-of-type(2) {
                order: 2;
              }
              &:nth-of-type(3) {
                order: 4;
              }
              &:nth-of-type(4) {
                order: 5;
              }

              &:hover {
                background: $athens-gray;
              }
            }

            &-favicon {
              order: 3;

              &:hover img {
                transform: scale(2) rotate(360deg);
              }

              img {
                transform: scale(1.8);
              }
            }
          }
        }
      }
    }

    &:nth-child(2) {
      position: relative;
      padding: 2rem;
      flex: 1;
      z-index: 2;
    }

    &-favicon {
      display: block;
      width: 4rem;
      margin-bottom: 1rem;

      img {
        width: 100%;
      }
    }

    &-icon {
      width: 3rem;
      margin: auto;
      padding: 1rem 0;
      cursor: pointer;

      .Icon {
        @media (max-width: 991px) {
          svg {
            height: 3rem;
          }
        }
      }
    }

    &-logo {
      display: block;
      width: 100%;
      max-width: 15rem;

      img {
        width: 100%;
      }
    }

    &-subcrible {
      &-title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 2rem;
      }

      &-link {
        font-size: 1.4rem;
        font-weight: 400;
        color: $black;
        transition: $common-transition;

        &:hover {
          color: $electric-violet;

          svg {
            fill: $electric-violet;
            stroke: $electric-violet;
          }
        }

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }

        .Icon {
          flex: 0 0 1.6rem;
          max-width: 1.6rem;
          margin-right: 1rem;

          svg {
            transition: $common-transition;
          }
        }
      }
    }
  }

  &-menu {
    margin-bottom: 2.5rem;

    .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-expand-icon,
    .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-arrow,
    .ant-menu-light .ant-menu-item:hover,
    .ant-menu-light .ant-menu-item-active,
    .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-light .ant-menu-submenu-active,
    .ant-menu-light .ant-menu-submenu-title:hover {
      color: $electric-violet;
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background: transparent;
    }

    .ant-menu {
      border-right: none;

      .ant-menu-submenu-expand-icon,
      .ant-menu-submenu-arrow {
        color: $big-stone;
      }

      &.ant-menu-sub.ant-menu-inline {
        background-color: transparent;
        padding: 1.5rem 0 0 1.5rem;

        .Sidebar-menu-item {
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    &-item {
      font-size: 1.8rem;
      font-weight: 700;
      color: $big-stone;
      text-transform: uppercase;
      font-style: italic;
      padding: 1.5rem 0 !important;
      margin: 0 !important;
      height: auto !important;
      border-bottom: 1px solid $gallery;
      white-space: pre-wrap;

      .Icon {
        width: 1.8rem;
        height: 1.8rem;
      }

      &::after {
        display: none;
      }

      &-suffix {
        font-size: 1.6rem;
        color: $electric-violet;
        padding: .3rem .3rem 0 0;
      }

      .ant-menu-submenu-title {
        padding-left: 0 !important;
        height: auto !important;
        margin: 0;
      }

      &:hover {
        .Sidebar-menu-item-skew {
          background: $electric-violet;

          &::before,
          &::after {
            background: $electric-violet;
          }
        }
      }

      &-skew {
        @include style-skew-btn();
      }

      .ant-menu-title-content {
        line-height: 1.5;
        display: flex;
        justify-content: space-between;
      }

      &:hover {
        color: $electric-violet !important;
      }
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba($black, 0.3);
    transition: $common-transition;
  }

  &-close {
    position: absolute;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0;
  }
}