@import '../../assets/styles/global';

.Sidebar {
  height: 100%;

  &-item {
    height: 100%;
    background: $white;
    transition: $common-transition;

    &:nth-child(1) {
      padding: 1rem 1.5rem;
      position: relative;
      z-index: 3;

      &.mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        height: auto;
        width: 100%;
        padding: 0;
        box-shadow: $button-shadow;
        height: 7rem;
        display: none;

        .Sidebar {
          &-item {

            &-icon,
            &-favicon {
              flex: 0 0 calc(100% / 5);
              max-width: calc(100% / 5);
              margin: 0;
              display: flex;
              text-align: center;
              justify-content: center;
              padding: 2rem;
              transition: $common-transition;

              img,
              svg {
                transition: $common-transition;
                max-width: 3rem;
                margin: auto;
                pointer-events: none;
              }
            }

            &-icon {
              &:nth-child(1) {
                order: 1;
              }

              &:nth-child(2) {
                order: 2;
              }

              &:nth-child(3) {
                order: 4;
              }

              &:nth-child(4) {
                order: 5;
              }

              &:hover {
                background: $athens-gray;
              }
            }

            &-favicon {
              order: 3;

              &:hover img {
                transform: scale(2) rotate(360deg);
              }

              img {
                transform: scale(1.8);
              }
            }
          }
        }
      }
    }

    &:nth-child(2) {
      position: relative;
      padding: 2rem;
      flex: 1;
      z-index: 2;
      height: 100vh;
      overflow: auto;
      transition: transform $common-transition;
    }

    &-favicon {
      display: block;
      width: 4rem;
      margin-bottom: 1rem;

      img {
        width: 100%;
      }
    }

    &-icon {
      width: 3rem;
      margin: auto;
      padding: 1rem 0;
      display: block;
      cursor: pointer;
      position: relative;

      &-badge {
        background: $black;
        color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        text-align: center;
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 0.5rem;
        right: -1rem;

        @media (max-width: 991px) {
          top: 50%;
          left: 50%;
          transform: translate(25%, -100%);
        }
      }

      &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    &-logo {
      display: block;
      width: 100%;
      max-width: 15rem;

      img {
        width: 100%;
      }
    }

    &-subcrible {
      &-title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 2rem;
      }

      &-link {
        font-size: 1.4rem;
        font-weight: 400;
        color: $black;
        transition: $common-transition;

        &.disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }

        &:not(.disabled):hover {
          color: $big-stone;

          svg {
            fill: $big-stone;
            stroke: $big-stone;
          }
        }

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }

        .Icon {
          flex: 0 0 1.6rem;
          max-width: 1.6rem;
          margin-right: 1rem;

          svg {
            transition: $common-transition;
          }
        }
      }
    }
  }

  &-menu {
    margin-bottom: 2.5rem;

    .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-expand-icon,
    .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-arrow,
    .ant-menu-light .ant-menu-item:hover,
    .ant-menu-light .ant-menu-item-active,
    .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-light .ant-menu-submenu-active,
    .ant-menu-light .ant-menu-submenu-title:hover {
      color: $big-stone;
    }

    .ant-menu-sub {
      .Sidebar-menu-item {
        color: $oslo-gray;
      }

      .Sidebar-menu-item:not(.ant-menu-item-disabled).active,
      .Sidebar-menu-item:not(.ant-menu-item-disabled):hover {
        color: $big-stone !important;
      }
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background: transparent;
    }

    .ant-menu {
      border-right: none;

      .ant-menu-submenu-expand-icon,
      .ant-menu-submenu-arrow {
        color: $big-stone;
      }

      &.ant-menu-sub.ant-menu-inline {
        background-color: transparent;
        padding: 1.5rem 0 0 1.5rem;

        .Sidebar-menu-item {
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    &-item {
      font-size: 1.8rem;
      font-weight: 700;
      color: $big-stone;
      text-transform: uppercase;
      font-style: italic;
      padding: 1.5rem 0 !important;
      margin: 0 !important;
      height: auto !important;
      border-bottom: 1px solid $gallery;

      .ant-menu-title-content {
        white-space: pre-wrap;
      }

      .Icon {
        width: 1.8rem;
        height: 1.8rem;
      }

      &::after {
        display: none;
      }

      &-suffix {
        font-size: 1.6rem;
        color: $big-stone;
        padding: .3rem .3rem 0 0;
      }

      .ant-menu-submenu-title {
        padding-left: 0 !important;
        height: auto !important;
        margin: 0;
      }

      &.active,
      &:hover {
        .Sidebar-menu-item-skew {
          background: $electric-violet;

          &::before,
          &::after {
            background: $electric-violet;
          }
        }
      }

      &-skew {
        @include style-skew-btn();
      }

      .ant-menu-title-content {
        line-height: 1.5;
        display: flex;
        justify-content: space-between;
      }

      &.ant-menu-item-disabled {

        .Icon,
        .Sidebar-menu-item-suffix {
          opacity: 0.5;
          pointer-events: none;
        }
      }

      &:not(.ant-menu-item-disabled).active,
      &:not(.ant-menu-item-disabled):hover {
        color: $big-stone !important;
      }
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba($black, 0.3);
    transition: $common-transition;
  }

  &-close {
    position: absolute;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0;
  }

  &-search-wrapper {
    min-width: 280px !important;

    .Sidebar {
      &-search {
        padding: 2rem;

        .ant-form-item {
          margin-bottom: 0;

          &:first-child {
            flex: 1;
          }
        }

        .Button {
          .ant-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 5.2rem;
            height: 5.2rem;
            padding: 0;
          }

          &-icon {
            .Icon {
              width: 3rem;
            }
          }
        }

        .Input {
          .ant-input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }

  &-account {
    font-size: 1.6rem;
    font-weight: 600;
    border-bottom: 1px solid $iron;
    padding-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: $common-transition;

    .UploadAvatar {
      margin: 0 1.5rem 0 0;
      width: 6rem;
      height: 6rem;
    }
  }
}