@import '../../assets/styles/global';

.MealPackageDetail {
  &-back {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
    color: $electric-violet;
    margin-bottom: 1rem;
    position: relative;
    width: fit-content;

    .Icon {
      transform: rotate(180deg);
      margin-right: .5rem;
    }
  }

  &-title {
    font-size: 2.6rem;
    margin-bottom: 3.5rem;
    font-weight: 700;
  }

  &-header {
    padding: 1rem 0;
    border-bottom: 1px solid $iron;
    margin-bottom: 2rem;
  }

  &-name {
    font-size: 1.6rem;
    font-weight: 500;
  }

  &-price {
    font-size: 1.4rem;

    span {
      font-weight: 500;
      font-size: 1.6rem;
      color: $electric-violet;
    }
  }

  &-image {
    img {
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  &-subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &-description {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }

  &-action {
    margin: 8rem 0 -10rem;
    background: $white;
    box-shadow: $box-cta-shadow;

    @media (max-width: 991px) {
      margin: 8rem 0 0rem;
    }

    &-item {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 1.2rem 1.5rem;
      font-size: 1.4rem;

      @media (max-width: 575px) {
        flex: 0 0 100%;
        max-width: 100%;

        &:first-child {
          padding-bottom: 0;
        }
      }

      strong {
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
  }
}